body {
    margin: 2;
    background: rgb(237, 229, 217);
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

.topnav {
    background-color: #cfb594;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #40260f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #af9675;
    color: black;
}

.topnav a.active {
    background-color: #927957;
    color: white;
}